
<h2>Create Auction</h2>

<div class="container">
    <form id="CreateForm" method="post" action="/auctions/create">
        <label>Title</label>
        <input name="Title" />
        <br />

        <label> Description</label>
        <input name="Description" />
        <br />

        <label>ActualAmount</label>
        <input name="ActualAmount" />
        <br />

        <label>StartingTime</label>
        <input name="StartingTime" />
        <br />

        <label>EndingTime</label>
        <input name="EndingTime" />
        <br />
        <button type="button" id="SaveButton">Save</button>
    </form>
</div>
<script>
    $("#SaveButton").click(function () {
        $.ajax({
            url: "/auctions/create",
            method: "post",
            data: $("#CreateForm").serialize()
        }).done(function (response) {
            debugger;
            $("#listArea").html(response);
        });
    });
</script>

