
<div class="row">
    <div class="col-lg-12 mt-2">

        <div class="float-left">
            <h2>Categories</h2>
        </div>
        <div class="float-right">
            <button class="btn btn-success text-right" id="createauction" data-toggle="modal" data-target="#formModal">
                Create new Category
            </button>
        </div>
        <div id="listArea">
            @{Html.RenderAction("Listing");}
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="ContentArea">

            </div>
        </div>
    </div>
</div>



<script>
       $("#createauction").click(function () {
           $.ajax({
               url: "@Url.Action("Create","Categories")",
               type: "get"
           }).done(function (response) {
               $("#formModal").modal("toggle");
               $("#ContentArea").html(response);
           });
       });

</script>





